@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility stripe-bg {
  background-image: repeating-linear-gradient(
    -45deg,
    currentColor,
    currentColor 1.5px,
    transparent 1.5px,
    transparent 6px
  );
}
